<li id="comment-<%= comment.id %>">
  <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
  <span class="user"><%= link_to comment.user.name, comment.user %></span>
  <span class="content">
    <%= comment.content %>
    <%= image_tag comment.picture.url if comment.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment.created_at) %> ago.
    <span class="comment">
      <a href="#"> Comment </a>
    </span>
  </span>
</li>
