<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/comment_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3> Micropost </h3>
    <li id="micropost-<%= @micropost.id %>">
      <%= link_to gravatar_for(@micropost.user, size: 50), @micropost.user %>
      <span class="user"><%= link_to @micropost.user.name, @micropost.user %></span>
      <br/>
      <span class="content">
        <%= @micropost.content %>
        <%= image_tag @micropost.picture.url if @micropost.picture? %>
      </span>
      <br/>
      <span class="timestamp">
        Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
      </span>
    </li>
    <h3>&nbsp</h3>
    <h3> Comments </h3>
    <% if @comments.any? %>
      <ol class="microposts">
        <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
  </div>
</div>
